<!-- Top Bar -->
<div class="top-bar">
    <div class="container flex-between">
        <span>Free shipping on all orders over $99!</span>
        <div class="top-links">
            <a href="/track-order">Track Order</a> | 
            <a href="/help">Help</a> | 
            <a href="/shop">Shop</a>
        </div>
    </div>
</div>

<!-- Main Header -->
<header>
    <div class="container flex-between">
        <a href="/client/modules/customer/features/home/home.html" class="logo">TECHGADGET</a>
        
        <nav>
            <a href="/client/modules/customer/features/home/home.html" class="nav-link" data-page="home">HOME</a>
            <a href="/client/modules/customer/features/shop/shop.html" class="nav-link" data-page="shop">SHOP</a>
            <a href="/client/modules/customer/features/blog/blog.html" class="nav-link" data-page="blog">BLOG</a>
            <a href="/client/modules/customer/features/pages/pages.html" class="nav-link" data-page="pages">PAGES</a>
            <a href="/client/modules/customer/features/contact/contact.html" class="nav-link" data-page="contact">CONTACT</a>
        </nav>
        
        <div class="header-icons">
            <i class="fas fa-search"></i>
            <i class="far fa-user"></i>
            <i class="far fa-heart"></i>
            <div class="cart-icon">
                <i class="fas fa-shopping-bag"></i>
                <span>0</span>
            </div>
        </div>
    </div>
</header>